body {
	text-align: center;
}

nav {
	width: 100%;
}

nav ul {
		padding: 0;
}

nav li {
	display: inline-block;
	height: 3em;
	width: 20%;
	background-color: salmon;
	text-align: center;
	margin-right: -1em;
}

nav a {
	text-decoration: none;
	color: white;
}

.sidebar {
	float: left;
	margin-right: 1em;
}

.gallery h1 {
	font-size: 125%;
}

.gallery-img {
	margin: .5em;
}

.text-content {
	text-align: center;

}

@media all and (min-width: 960px) {

	nav li {
		width: 192px;
	}

}

@media all and (max-width: 960px) {

	.main-content, nav {
		padding: 0px 10px;
	}

}

@media all and (max-width: 175px) {
	.sidebar {
		width: 80vw;
		padding-right: 0px 10px;
	}

}

@media all and (max-height: 450px) {

	.sidebar {
		height: 60vh;
	}
}

/*Break point for nav bar*/
@media all and (max-width: 350px) {



	nav ul {
		padding: 0;
	}

	nav li {
		display: block;
		width: 100vw;
		text-align: center;
		margin: 0;
	}

}


/* Break point for gallery */
@media all and (max-width: 530px) {

	.gallery-img {
		display: block;
		width: 100px;
		margin: auto;
		margin-bottom: 1em;
	}

	.gallery {
		//text-align: center;
	}

}